@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
$primary-color: #FFB850;

//layout
$nav-height: 10vh;
$leftBar-width: 20vw;

html, body{
    margin: 0;
}

nav{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $nav-height;

    .nav-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5vw;
        img{
            margin:0;
            height: 40px;
            margin-right: 1.5vw;
        }
        p{
            font-family: 'Holtwood One SC', serif;
            font-size: 38px;
            color: $primary-color;
        }
    }
    .nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5vw;

        p{
            font-family: 'Holtwood One SC', serif;
            font-size: 15px;
            color: black;
            background-color: $primary-color;
            padding: 10px 15px;
            border-radius: 25px;
        }
    }
}

.leftSideBar-container{
    height: 100 - $nav-height;
    width: $leftBar-width;
    background-color: #D8D2C7;
    position: fixed;
}
.homeFeed-container{
    height: 100 - $nav-height; //change later
    background-color: #FFF4E9;
    margin-left: $leftBar-width;
}

.leftSideBar-container{
    font-family: 'Holtwood One SC', serif;
    h2{
        margin-left: 20%;
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: #685B5B;
        font-size: 15px;
        line-height: 3;
        margin-left: 10%;

        &:hover{
            color: #847878;
            margin-left: 15%;
        }
    }
    .arrow{
        display:none;
    }
}

.login-container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .login-form-container{
        width: 40%;
        min-width: 500px;
        height: 80%;
        min-height: 566px;
        background: linear-gradient(180deg, #9E3939 16.02%, rgba(179, 88, 25, 0.992187) 69.68%, rgba(185, 97, 16, 0.99) 84.7%);
        border-radius: 20px;
    }
}