@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
$primary-color: #FFB850;

//layout
$nav-height: 10vh;
$leftBar-width: 25vw;

html, body{
    margin: 0;
}

nav{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: $nav-height;

    .nav-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 5vw;
        img{
            margin:0;
            height: 40px;
            margin-right: 1.5vw;
        }
        p{
            font-family: 'Holtwood One SC', serif;
            font-size: 38px;
            color: $primary-color;
        }
    }
    .nav-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5vw;

        p{
            font-family: 'Holtwood One SC', serif;
            font-size: 15px;
            color: black;
            background-color: $primary-color;
            padding: 10px 15px;
            border-radius: 25px;
        }
    }
}

.leftSideBar-container{
    height: 100 - $nav-height;
    width: $leftBar-width;
    background-color: #D8D2C7;
    position: fixed;
}
.homeFeed-container{
    height: 100 - $nav-height; //change later
    background-color: #FFF4E9;
    margin-left: $leftBar-width;
}